<script type="text/html" id="se-tab-designer">
  <div
    class="row svd_survey_designer"
  >
    <div
      class="col-xs-11 svd_editors"
      data-bind="css: {'col-lg-8 col-md-7 col-sm-8': koShowPropertyGrid, 'col-lg-10 col-md-10 col-sm-11': !koShowPropertyGrid(), 'svd_wide': !koShowPropertyGrid()}"
    >
      <div class="svd_toolbar">
        <!-- ko foreach: toolbarItems -->
        <span
          tabindex="0"
          class="svd_action"
          data-bind="css: $data.css, visible: visible, attr: { id: id }"
        >
          <!-- ko template: { name: $data.template || 'svd-toolbar-button', data: $data.data || $data } -->
          <!-- /ko -->
        </span>
        <!-- /ko -->
      </div>
      <pages-editor params="editor:$data" data-bind="visible: koShowPagesToolbox">
      </pages-editor>
      <div
        class="svd_questions_editor svd-light-bg-color"
        id="scrollableDiv"
        data-bind="style: { height: koDesignerHeight }, event: { dragover: dragOverQuestionsEditor, drop: dropOnQuestionsEditor }"
      >
        <div id="surveyjs"></div>
        <!-- ko if: isCurrentPageEmpty -->
        <div
          class="empty-message"
          data-bind="text: $root.getLocString('survey.dropQuestion')"
        ></div>
        <!-- /ko -->
      </div>
    </div>
    <svd-splitter params="minLeft: 600, minRight: 150"></svd-splitter>
    <div
      class="col-lg-4 col-md-3 col-sm-3 hidden-xs svd_properties svd-light-border-color svd-light-bg-color"
      data-bind="visible: koShowPropertyGrid"
    >
      <ul
        class="navbar-default container-fluid nav nav-tabs editor-tabs svd-light-bg-color"
      >
        <!-- ko foreach: tabsSideBar -->
        <li
          class="nav-item"
          data-bind="css: {active: $parent.koSidebarViewType() == name}"
        >
          <a class="nav-link" href="#" data-bind="click: action, text: title"></a>
        </li>
        <!-- /ko -->
      </ul>
      <div>
        <!-- ko foreach: tabsSideBar -->
        <div data-bind="visible: $parent.koSidebarViewType() == name">
          <!-- ko template: { name: template, data: data, afterRender: function(element, model) { $parent.onEditorTabRenderedCallback(name, element, model, $data); } } -->
          <!-- /ko -->
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="se-tab-test">
  <div data-bind="style: {width: koTestSurveyWidth}">
    <div id="surveyjsExample" data-bind="template: { name: 'surveylive', data: surveyLive }"></div>
  </div>
</script>

<script type="text/html" id="se-sidebar-tab-properties">
  <div 
    class="svd_item_properties"
  >
    <div class="svd_object_selector svd-light-border-color">
      <div class="svd_custom_select">
        <select
          onmousewheel="return false;"
          id="objectSelector"
          class="form-control"
          data-bind="options: koObjects, optionsText: 'text', value: koSelectedObject"
        ></select>
      </div>
    </div>
    <div
      class="svd_object_editor"
    >
      <div
        data-bind="template: { name: 'objecteditor', data: selectedObjectEditor }"
      ></div>
    </div>
  </div>
</script>

<script type="text/html" id="se-sidebar-tab-toolbox">
  <div
    class="svd_toolbox"
  >
    <!-- ko if: toolbox.koHasCategories -->
    <div
      class="panel-group svd-selector-static-height"
      role="tablist"
      data-bind="foreach: toolbox.koCategories"
    >
      <div class="panel panel-info">
        <div
          class="svd-toolbox-category-header"
          role="tab"
          data-bind="click: expand"
        >
          <span
            data-bind="css: { 'svd-main-color': !koCollapsed() }, text: name"
          ></span>
          <!-- ko if: koCollapsed -->
          <svg-icon
            class="icon-toolbox-arrow"
            params="iconName: 'icon-arrow_down_10x10', size: 10"
          ></svg-icon>
          <!-- /ko -->
          <!-- ko ifnot: koCollapsed -->
          <svg-icon
            class="icon-toolbox-arrow svd-primary-icon"
            params="iconName: 'icon-arrow_up_10x10', size: 10"
          ></svg-icon>
          <!-- /ko -->
        </div>
        <div
          role="tabpanel"
          data-bind="css: { 'panel-collapse collapse': koCollapsed}"
        >
          <!-- ko foreach: items -->
          <div
            tabindex="0"
            draggable="true"
            class="svd_toolbox_item svd-light-border-color"
            data-bind="css: 'svd_toolbox_item_' + iconName, key2click, clickNoFocus: $root.clickToolboxItem, event:{dragstart: function(el, e) { $root.draggingToolboxItem($data, e); return true;}, dragend: function(el, e) { $root.dragEnd(el, e); }}"
          >
            <span data-bind="attr: {title: title}">
              <svg-icon params="iconName: iconName"></svg-icon>
            </span>
            <span
              class="svd_toolbox_item_text hidden-sm hidden-xs"
              data-bind="text:title"
            ></span>
          </div>
          <!-- /ko  -->
        </div>
      </div>
    </div>
    <!-- /ko  -->

    <div class="svd_toolbox_items">
      <!-- ko foreach: toolbox.koItems -->
        <div
          tabindex="0"
          draggable="true"
          class="svd_toolbox_item svd-light-border-color"
          data-bind="css: 'svd_toolbox_item_' + iconName, key2click, clickNoFocus: $root.clickToolboxItem, event:{dragstart: function(el, e) { $root.draggingToolboxItem($data, e); return true;}, dragend: function(el, e) { $root.dragEnd(el, e); }}"
        >
          <span data-bind="attr: {title: title}">
            <svg-icon params="iconName: iconName"></svg-icon>
          </span>
          <span
            class="svd_toolbox_item_text hidden-sm hidden-xs"
            data-bind="text:title"
          ></span>
        </div>
      <!-- /ko  -->
    </div>
  </div>
</script>

<script type="text/html" id="se-sidebar-tab-library">
  <div 
    class="svd_library"
  >
    123456789
  </div>
</script>
